/*  =====
    Global
    =====   */

/* --- Layouts --- */
/* Grids */
.centered {
    display: grid;
    place-items: center;
}

/* Flexs */
/* Row */
.pancake {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

.pancake .box {
    flex: 0 1 200px;
}

.hline-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Column */
.vline-up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Utilities */
.hyperlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 20;
}

/* Templates */
:root {
    --color-primary: #182A5E;
    --color-secondary: hsl(16, 98%, 35%);
    --color-accent: hsl(151, 59%, 46%);
    --color-space: hsl(45, 2%, 89%);
    --color-black: hsl(30, 40%, 3%);
    --font-title: 'Michroma', sans-serif;
}

body.global {
    background-color: var(--color-space);
}

h1 {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 18ch) 1fr;
    align-items: center;
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: clamp(30px, 3rem + 0.4vw, 70px);
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

h1::before,
h1::after {
    content: "";
    display: block;
    border-top: 3px solid;
}

p {
    font-size: clamp(14px, 1rem + 1vw, 18px);
    line-height: 1.2;
    letter-spacing: 2px;
    max-width: 75ch;
    margin: 10px;
}

.test {
    background-color: var(--color-black);
    padding: 50px 70px;
}

.test figure {
    position: relative;
    height: 300px;
    background-color: var(--color-secondary);
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s; 
}

.test figure img {
    object-fit: cover;
}

.test figure:hover {
    filter: contrast(0.85);
}

.test figcaption {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

figcaption p:last-child {
    font-size: clamp(10px, 10px + 1vw, 12px);
}
figcaption p:first-child {
    font-size: clamp(12px, 12px + 2vw, 16px);
}